Stubby should have an option to send response headers back unmolested

Response headers are currently being lower-cased before transmission. This can cause client-side failures when there is case-sensitive parsing of response headers.

https://github.com/mrak/stubby4node/blob/master/src/models/endpoint.js#L148

This is actually by design to prevent accidentally sending the same header back in different case variants. As per the HTTP spec, header fields are case-insensitive, but header _values_ are case-_sensitive_. If you have any client code checking headers, you should ensure that they are comparing keys/fields case-insensitively.

These references are for posterity if others arrive at this issue:
* [RFC 2616§4.2 (HTTP 1.1)](https://www.ietf.org/rfc/rfc2616.txt)
* [RFC 7230§3.2 (HTTP 1.1 updated)](https://tools.ietf.org/html/rfc7230#section-3.2)
* [RFC 7540§8.1.2 (HTTP/2)](https://tools.ietf.org/html/rfc7540#section-8.1.2)

I understand that this is by design, but it makes stubby an incompatible option for mocking when we have services that rely on frameworks that translate http mechanisms to higher-level abstractions before handing control over to client code. 
This is why it was introduced as an option, to allow stubby to remain relevant in these scenarios. 
I'd like to suggest that you reconsider closing the issue out.